<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1> Traductor Alaedo &lt;-&gt; Español </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        by Lola
      </div>
    </div>
  </div>
  <div clas="container">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">
            <label>Español:</label>
          </span>
          <input type="text" class="form-control" [(ngModel)]="spanish">
          <span class="input-group-btn">
            <button class="btn" type="button" (click)="toAlaedo()">A Alaedo</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">
            <label>Alaedo:</label>
          </span>
          <input type="text" class="form-control" [(ngModel)]="alaedo">
          <span class="input-group-btn">
            <button class="btn" type="button" (click)="toSpanish()">A Español</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
